html {
  font-family: "Roboto", "arial", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* --primary-green: #88f21d;
  --secondary-green: #55a603;
  --third-green: #d5d95f; */
  --dark-color: #242424;
  --light-color: #ddd;
  /* --terry-red-color: #f23207;
  --terry-orange-color: #f27405; */
  --terry-one: #cc9535;
  --terry-two: #d68938;
  --terry-three: #bf6c3b;
  --terry-four: #d65b38;
  --terry-five: #cc4035;
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a {
  text-decoration: none;
}
